<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>请绑定手机号</h1>
    <form action="" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <label for="username">用户名：<input id="username" name="username" type="text"></label> <br />
        <label for="phone">手机号：<input id="phone" name="phone" type="text"></label> <br />
        <label for="validation_code">验证码：<input name="valid_code" id="validation_code" type="text"></label> <br />
        <label for="submit"><input id="submit" type="submit" value="登陆"></label> <br />
    </form>
</body>
</html>